body {
  font-family: sans-serif;
  font-size: 12pt;
  margin-bottom: 10px;
}

header {
    margin-top: 17px;
    text-align: center;
}

footer {

    background-image: url('query-background.png');
    background-position: left;
    background-repeat: no-repeat;
    background-color: #f2f2f2;
}

input, textarea {
  background-color: white;
  border-width: 0px;
}

input[type='submit'] {
  height: 52px;
  font-size: 20pt;
  color: white;
  border-width: 0px;
  border-radius: 5px;
  background-color: #aa4400;
}

aside {

}

#maincontent {

}

/* login */
#login {
  background-color: #f2f2f2;
  padding: 0px;
  padding-right: 5px;
  margin: 0px;
}

#login input {
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 5px;
  width: 115px;
  border: 1px solid #2b1100;
  border-radius: 5px;
  margin-right: 0px;
}

#login span {
  display: inline-block;
  width: 90px;
}

#login label {

}

/* search bar */
#query {
  margin-top: 10px;
}

form#queryform {
  margin: 0px;
  text-align: center;
  border: 1px solid #2b1100;
  border-radius: 10px;
  border-width: 2px;
  padding: 5px;
}

input#querybox {
  width: 100%;
  border: none;
  height: 52px;
  font-size: 1.3em;
  color: #aa4400;
}

input#querybutton {
  width: 155px;
}
input#querybutton:active {
  background: linear-gradient(to top, #ffccaa, #803300);
}

/* navigation */
#navigation_links li {
  display: inline-block;
  border-right: 1px solid black;
  padding-right: 4px;
}
#navigation_links li:last-child {
    border-right-width: 0px;
}

#navigation_links {
  text-align: center;
  margin-top: 10px;
}

/* questions */
article.question {
  padding-left: 50px;
  background-image: url('query-icon.png');
  background-position: center left;
  background-repeat: no-repeat;
  margin-bottom: 20px;

}

.question p {
  margin: 0px;
}

.question_date, .question_answers {
  font-size: 0.7em;
}
.question_title {
  font-size: 1.8em;
  line-height: 20pt;
}

.question_title a:active,
.question_title a:visited,
.question_title a:link  {
  color: #2b1100;
}

.question_title, .question_author {
  display: inline;
}

/* aside content */
#complementary_content {
  text-align: right;
}

#complementary_content h1 {
  color: #aa4400;
  font-size: 1.4em;
}

#complementary_content section {
  float: left;
}

section#answeres,
section#questioners {

}
#complementary_content section ul {
  padding: 0px;
  margin: 0px;
}

#complementary_content li {
  height: 30px;
  list-style-type: none;
  background-position: right;
  background-repeat: no-repeat;
  padding-right: 35px;
}

#complementary_content a {
  margin: 0px;
  line-height: 30px;
}

#more_answered li {
  background-image: url('query-icon.png');

}
#questioners li, #answerers li {
  background-image: url('user-icon.png');

}

/* new question */
#newquestionform {
  text-align: center;
}

#newquestionform input[type='text'],
#newquestionform textarea {
  width: 99%;
  margin-top: 10px;
  margin-bottom: 10px;
  border: 1px solid #2b1100;
  border-radius: 5px;
  color: #aa4400;
  font-weight: bold;
}

#newquestionform textarea {
  height: 200px;
}


/* media query patches (for non mobile) */
/* Small devices (tablets, 768px and up) */
/* container width 750 */
@media (min-width: 768px) {
  header {
    text-align: left;
  }
  #login {
    text-align: right;
  }

  input#querybox {
    width: 580px; /* 750 - 160(query button) */
  }
  #newquestionform {
    text-align: right;
    margin-right: 10px;
  }
}

/* Medium devices (desktops, 992px and up) */
/* container width 970 */
@media (min-width: 992px) {

  input#querybox {
    width: 800px; /* 970 - 160(query button) - 10 padding*/
  }

  #login input {
    width: 200px;
  }
  
  #complementary_content section {
    float: none;
  }

}

/* Large devices (large desktops, 1170px and up) */
/* container width 1170 */
@media (min-width: 1200px) {

  input#querybox {
    width: 1000px; /* 1170 - 160(query button) */
  }
  /*#login label {
      width: 300px;
  }*/
}
